* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'OpenSans';
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

section {
  margin-bottom: 40px;
}

/* Navbar */
#nav {
  width: 100%;
  background: black;
  color: white;
  padding: 10px 10px;
  position: fixed;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#logo-box {
  display: flex;
  height: 100%;
  width: 250px;
}

#logo-box p {
  line-height: 30px;
  letter-spacing: 3px;
}

#logo {
  width: 50px;
}

.navbar {
  list-style-type: none;
  right: -50vw;
}

.navbar li {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
}

.nav-scroll:hover {
  color: #b4aaaa !important;
}

.hamburger {
  display: none;
}

.navbar-open {
  right: 0 !important;
}

.top-open {
  margin: 0 !important;
  transform: translate(0, 50%) rotate(45deg);
}

.mid-open {
  margin: 0 !important;
  display: none !important;
}

.bot-open {
  margin: 0 !important;
  transform: translate(0, -50%) rotate(-45deg);
}

@media screen and (max-width: 830px) {
  .hamburger {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 5%;
    display: initial;
    transform: translate(-5%, -50%);
  }
  .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  .navbar {
    width: 40vw;
    height: 100vh;
    display: flex !important;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    right: -50vw;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease-out;
  }
}

/* Home section */
#home {
  height: 100vh;
  background: url(../img/mountain.jpg);
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}

#home .background-overlay {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C */
  height: 100%;
  background-attachment: fixed;
}

.home-content {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.home-left {
  text-align: center;
  letter-spacing: 3px;
}

.home-right {
  font-size: 50px;
  padding: 20px;
}

.my-name {
  font-size: 50px;
}

.home-scroll-down {
  height: 15%;
  display: flex;
  justify-content: center;
}

/* Scroll down button */
.arrow {
  height: 30px;
  transform: rotate(90deg);
}

#scroll-button:hover {
  cursor: pointer;
}

/* About-me Section */
h1 {
  letter-spacing: 2px;
  padding: 0 100px;
}

.divider {
  display: block;
  width: 90vw;
  border: solid #9fa4a7 0.5px;
  border-radius: 5px;
  margin: 20px auto;
}

.about-me-content {
  display: flex;
  align-items: center;
}

.about-me-text {
  width: 60vw;
  padding: 10px 5vw;
  margin: 0;
  text-align: justify;
  font-family: 'Roboto';
  letter-spacing: 1px;
  line-height: 1.5;
}

.my-photo {
  width: 30vw;
  margin: 0;
}

.my-photo img {
  width: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .about-me-content {
    flex-direction: column-reverse;
  }
  .my-photo {
    width: 45vw;
  }
  .about-me-text {
    width: 90vw;
  }
}

/* Skills section */
.img-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding: 0 100px;
}

.img-container img {
  height: 60px;
}

#skills p {
  text-align: center;
  margin: 25px 0;
  font-family: 'Roboto';
  font-size: 19px;
}

.projects-wrapper {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin: 100px auto;
  cursor: pointer;
}

.project-container {
  background-color: red;
  width: 31%;
  height: 200px;
  border: 3px solid black;
}

.project-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

.project-name {
  width: 100%;
  height: 20%;
  background-color: #00776d;
  transform: translate(0, 50px);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-name p {
  margin: auto;
  color: white;
  letter-spacing: 1px;
}

.project-overlay:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.project-overlay:hover .project-name {
  transform: translate(0, 0);
}

.project-info {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 4;
  opacity: 0;
  transition: visibility 0s, opacity 0.15s ease-in;
}

.project-info-window {
  width: 80vw;
  height: 70vh;
  background-color: white;
  overflow: hidden;
  border-radius: 30px;
  padding: 20px;
  position: absolute;
}

.project-info-window .cross {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.project-info-window .cross-line {
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
}

.project-info-window .one {
  transform: rotate(45deg);
}

.project-info-window .two {
  transform: translate(0, -2px) rotate(-45deg);
}

.info-open {
  visibility: visible;
  opacity: 1;
}
