* {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
 
@font-face{
      font-family: 'Biorhyme';
      src: url(../fonts/Bio_Rhyme/BioRhyme-Regular.ttf);
      font-weight: normal;
      font-style: normal;
}
  

@font-face{
      font-family: 'SpaceMono';
      src: url(../fonts/SpaceMono/SpaceMono-Regular.ttf);
      font-weight: normal;
      font-style: normal;
}

html{
      font-family: 'SpaceMono';
      width: 100%;
      height: 100%;
      scroll-behavior: smooth;
}

a{
      text-decoration: none;
      color:white;
      text-transform: uppercase;
}

section{
      margin-bottom: 80px;
      padding-top: 50px;
}

body{
      width: 100vw;
      overflow-x: hidden;
}

.scroll-body{
      background-color: rgb(15,13,24);
      color: white;
      overflow: hidden;
      width: 100%;
}

h1{
      letter-spacing: 2px;
      padding: 0 100px;
      text-transform: lowercase;
      font-family: 'Biorhyme';
      @media only screen and (max-width: 768px){
            padding: 0 50px;
      }
}

h1::before{
      content: '#';
      color:rgb(12, 227, 235);
}

.divider{
      width: 90%;
      background: linear-gradient(45deg,rgb(46, 179, 231) 0%, rgba(0,0,255,0) 80%);
      height: 2px;
      margin: 20px auto 60px auto;
      @media only screen and (max-width: 768px){
            margin: 20px auto 60px 50px;
            width:80%;
      }
}

/* Navbar */

#nav{
      width: 100%;
      background: rgb(15,13,24);
      color: white;
      padding: 10px 10px;
      position: fixed;
      height: 50px;
      display:flex;
      justify-content: flex-end;
      z-index: 100;
}

#logo-box{
      display: flex;
      height: 100%;
      width: 250px;
}

#logo-box p{
      line-height: 30px;
      letter-spacing: 3px;
}

#logo{
      width: 50px;
}

.navbar{
      list-style-type: none;
      right: -50vw;

}

.navbar li{
      display: inline-block;
      padding: 0 20px;
      line-height: 30px;
}

.nav-scroll:hover{
      color: rgb(25, 158, 175) !important;
      text-shadow: rgba(25, 158, 175, 0.5) 0px 0px 30px, rgba(25, 158, 175, 0.67) 0px 0px 60px;
}

.active{
      color: rgb(25, 158, 175) !important;
      text-shadow: rgba(25, 158, 175, 0.5) 0px 0px 30px, rgba(25, 158, 175, 0.67) 0px 0px 60px;
}

.hamburger{
      display: none;
}

.navbar-open{
      right: 0 !important;

}

.links-open{
}

.top-open{
      margin:0 !important;
      transform: translate(0, 50%) rotate(45deg) ;
}
.mid-open{
      margin:0 !important;
      display: none !important;
}
.bot-open{
      margin:0 !important;
      transform: translate(0, -50%) rotate(-45deg);
}

@media screen and (max-width: 768px) {

      .hamburger{
            position: absolute;
            cursor: pointer;
            top: 50%;
            right: 5%;
            display: initial; 
            transform: translate(-5%,-50%);
      }

      .line{
            display: block;
            width: 30px;
            height: 3px;
            background-color: white;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
      }

      .navbar{
            width:40vw;
            height: 100vh;
            display: flex !important;
            flex-direction: column;
           
            background-color: rgba(0, 0, 0, 0.55);
            position: fixed;
            top: 0;
            right: -50vw; 
            justify-content: space-evenly;
            align-items: center;
            transition: all 0.5s ease-out;
      }
}

/* Home section */

#home{
      height: 100vh;
      background: url(../img/home-bcg.jpg);
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-color: black;
      color: white;
}

#home .background-overlay{
    background: linear-gradient(to bottom,rgb(5, 13, 24) 0%, rgba(5, 13, 24, 0.596) 10%, rgba(0, 0, 0, 0.849) 17%, rgba(0, 0, 0, 0.8) 35%, rgba(0, 0, 0, 0.55) 62%, rgb(5, 13, 24) 95%);
    /* W3C */
    height: 100%;
    background-attachment: fixed;

}

.home-content{
      height: 85%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;

      
}

.home-main{
      display: flex;
      align-items: center;
      justify-content: center;
      
      @media only screen and (max-width: 700px){
            flex-direction: column-reverse;
      }
}

.home-text{
      text-align: center;
      letter-spacing: 3px;

      .my-name{
            color: rgb(136, 32, 168);
            text-shadow: rgba(116, 68, 128, 0.5) 0px 0px 20px, rgba(127, 67, 139, 0.67) 0px 0px 40px;
      }
}
.home-hi-emote{
      font-size: 50px;
      padding: 20px;
}
.my-name{
      font-size: 50px;
}
.home-scroll-down{
      height:15%;
      display: flex;
      justify-content: center;
}

      /* Scroll down button */

      .arrow{
            height: 30px;
            transform: rotate(90deg);
      }
      
      #scroll-button:hover{
      cursor: pointer;

      }

/* About-me Section */





.about-me-content{
      padding: 0 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-height: 350px;
}
.about-me-text{
      width: 50%;
      padding: 30px 0 30px 5%;
      margin: 0;
      text-align: justify;
      letter-spacing: 1px;
      line-height: 1.5;
      position: relative;

      p{
            margin-bottom: 30px;
            max-width: 900px;
      }
}


.about-me-text::after{
      background-image: url('../img/blinks.png');
      background-size: 90%;
      background-repeat: repeat;
      position: absolute;
      left: -100px;
      top: -50px;
      content: '';
      width: 500px;
      height: 1000px;
      opacity: 0.05;
      
}

.my-photo{
      width: 30vw;
      margin: 0;
      position: relative;
 
}
.my-photo::after{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(-270deg, rgb(15, 13, 24) 0%, rgba(15, 13, 24, 0.25) 30%, rgba(255, 255, 255, 0) 31%, rgba(255, 255, 255, 0) 70%, rgba(15, 13, 24, 0.25) 71%, rgb(15, 13, 24) 100%);
      content: '';
      height: 100%;
}

.my-photo img{
      width: 100%;
}

@media only screen and (max-width: 1024px){
      .about-me-content{
            flex-direction: column-reverse;
            
      }
      .my-photo{
            width: 45vw;
      }
      .about-me-text{
            width: 90vw;
            padding: 30px 5% 30px 5%;
      }
      .about-me-text::after{
           left: -250px;
      }
}

@media only screen and (max-width: 768px){
      .my-photo{
            width: 60vw;
      }

      
}

/* Skills section */

#skills-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
}
#skills-container::after{
      background-image: url('../img/blinks.png');
      background-size: 90%;
      background-repeat: repeat;
      position: absolute;
      right: -100px;
      top: 40%;
      content: '';
      width: 500px;
      height: 1000px;
      opacity: 0.05;
}

.skills-p{
      text-align: center;
      margin: 40px 0;
      font-size: 19px;
      max-width: 80%;
      display: block;
      height:20px;
      position: relative;
      text-shadow: rgba(228, 120, 255, 0.5) 0px 0px 30px, rgba(227, 99, 253, 0.67) 0px 0px 60px;
}

.skills-p::before{
      content: '';
      position: absolute;
      top: 50%;
      left: -300px;
      display: inline-block;
      height: 3px;
      width: 300px;
      background: linear-gradient(45deg,rgb(144, 22, 201) 0%, rgba(0,0,255,0) 90%);
      @media only screen and (max-width: 1280px){
          visibility: hidden;  
      }
}
.skills-p::after{
      content: '';
      position: absolute;
      top: 50%;
      right: -300px;
      display: inline-block;
      height: 3px;
      width: 300px;
      background: linear-gradient(45deg,rgba(0,0,255,0) 0%, rgb(144, 22, 201) 90%);
      @media only screen and (max-width: 1280px){
            visibility: hidden;  
        }
}

.row {
      display: block;
      box-sizing: border-box;
      width: 50%;
      margin: 40px 0;
}

.col {
      width: 25%;
      margin: 0;
      float: left;
}

.skill-icon{
      padding-bottom: 20px;
      height:120px;
      padding-left: 20px;
      padding-right: 20px;

}

.skill-icon img{
      margin: 0 auto;
      height: auto;
      filter: grayscale(1);
      transition: all .2s ease-in;
      display:flex;
      align-items: center;
}

.skill-icon img:hover{
      filter: grayscale(0);
}

.skill-icon img{
      display:block;
      max-width: 100%;   
      max-height: 100%;   
}




@media only screen and (max-width: 1024px){
    .skill-icon img{
            filter: none;
      }
      .row{
            width: 70%;
      }
      #skills-container::after{
            right: -250px;
      }  
}

@media only screen and (max-width: 768px){
      .row{
            width: 80%;
      }

      .col{
            width: 33.3333%;
      }

      
}
// Projects section

.projects-wrapper{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin: 100px 0;
      width: 100%;
      padding: 0 30px;
}

.project-container{
      
      position: relative;
      cursor: pointer;
      margin-bottom: 100px;
      box-shadow: rgba(138, 73, 151, 0.363) 0px 0px 30px, rgba(121, 60, 133, 0.596) 0px 0px 60px;
      @media only screen and (max-width: 768px){
            max-width: 75%;
        }
}

.project-container::before{
      content: '';
      position: absolute;
      top: 50%;
      left: -300px;
      display: inline-block;
      height: 3px;
      width: 300px;
      background: linear-gradient(45deg,rgb(144, 22, 201) 0%, rgba(0,0,255,0) 90%);
      @media only screen and (max-width: 1280px){
            visibility: hidden;  
        }
}

.project-container::after{
      content: '';
      position: absolute;
      top: 50%;
      right: -300px;
      display: inline-block;
      height: 3px;
      width: 300px;
      background: linear-gradient(45deg,rgba(0,0,255,0) 0%, rgb(144, 22, 201) 90%);
      @media only screen and (max-width: 1280px){
            visibility: hidden;  
        }
}

#project-img{
      width:100%;
      height: 100%; 
}

.project-overlay{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      overflow: hidden;
}

.project-name{
      width: 100%;
      height: 50px;
      background-color: rgb(104, 25, 141);
      transform: translate(0, 70px); 
      transition: all 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
     
}
.project-name p{
      margin: auto;
      color: white;
      letter-spacing: 1px;
}

.project-overlay:hover{
     background-color: rgba(0, 0, 0, 0.4);

     .project-name{
           transform: translate(0, 0);
     }
}

      // Project info (window with project description)

      .project-info{
            visibility: hidden;
            color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top:0;
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100vh;
            z-index: 4;
            opacity: 0;
            transition: visibility 0s, opacity 0.15s ease-in;
      }

      .project-info-window{
            width: 70%;
            min-height: 60%;
            background-color: #272333;
            box-shadow: rgba(57, 100, 156, 0.3)0 0 10px, rgba(57, 100, 156, 0.5)0 0 20px;
            overflow: hidden;
            border-radius: 15px;
            padding: 20px;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .cross{
                  position: absolute;
                  top: 20px;
                  right: 10px;
                  cursor: pointer;
            }
            .cross-line{
                  display: block;
                  width: 30px;
                  height: 2px;
                  background-color: white;
            }

            .one{
                  transform: rotate(45deg);
            }
            .two{
                  transform: translate(0,-2px) rotate(-45deg);
            }
            @media only screen and (max-width: 768px) {
                  width: 90%;
                  padding: 10px;
            }
      }


      .project-info-header{
            letter-spacing: 1.5px;
            font-size: 1.7rem;
      }

      .project-info-image{
            width: 100%;
            text-align: center;
            padding: 20px 0;
      }

      #info-img{
            width: 65%;
            box-shadow: rgba(57, 100, 156, 0.3)0 0 10px, rgba(57, 100, 156, 0.5)0 0 20px ;
            @media only screen and (max-width: 1024px) {
                  width: 75%;
            }
            @media only screen and (max-width: 768px) {
                  width: 90%;
            }
      }
      .project-info-content{
            padding: 10px 30px;
            width: 100%;
            letter-spacing: 1px;
      }

      .project-info-tech{
            width:100%;
            padding: 10px 30px;
            letter-spacing: 1.5px;
            font-size: 0.8rem;
            color: rgb(0, 109, 182);
      }

      .project-info-links{
            margin-top: 20px;
            display: flex;
      }

      #project-link{
            color: rgb(22, 197, 197);
            margin: 0 20px;
            text-transform: initial;
            font-size:  1.2rem;
            font-weight: bold;
      }

      #project-link:hover{
            color: rgb(147, 218, 240);
      }

      .info-open{
           visibility: visible;
           opacity: 1;
      }

// CV download section

#cv{
      width: 100%;
      height: 250px;
      margin-bottom: 50px;
}

.overlay{
      width: 100%;
      height: 100%;
      background: url(../img/synthwave.jpg) ;
      background-attachment: fixed;
      background-position: center;
      background-size: cover; 
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(1);
      
}      

.get-cv-button{
      width: 200px;
      height: 40px;
      border: solid 2px white;
      color: white;
      padding: 10px 10px;
      cursor: pointer;
      
      p{
            line-height: 20px;
            letter-spacing: 4px;
            text-align: center;
      }
}

// Contact section

#contact{
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
}

#contact-container{
      line-height: 2em;
      padding-top: 40px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.contact-list{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: start;
}

.contact-link{
            letter-spacing: 1px;
            text-transform: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
}

.contact-img{
      width: 35px;
      padding: 5px;
      
}

.contact-img svg{
      fill: rgb(139, 32, 172);
}

.contact-name{
      padding-left: 15px;
}



